*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    display: flex;
    justify-content: center;
}

.App {
    width: 820px;
}

.post:first-child{
    margin-top: 10px;
}

.post {
    display:flex;
    padding:15px;
    border: 2px solid turquoise;
    justify-content: space-between;
    align-items: center;
    margin: 1px;
}

.remove-btn {
    margin-right: 0.5rem;
  }
  
  .post-enter {
    opacity: 0;
  }
  .post-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
  .post-exit {
    opacity: 1;
  }
  .post-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
  }  

  .page__wrapper{
    margin-top: 15px;
    display: flex;
    justify-content: center;
  }

  .page{
    cursor: pointer;
    padding: 10px;
    border: 1px solid turquoise;
  }

  .page:hover{
    background: rgba(36, 75, 71, 0.1);
  }
  
  .page__current{
    border: 2px solid rgb(6, 26, 24);
    font-weight: bold;
  }